.header--1Mejf {
    padding: 16px;
    background-color: #111;
}


body a:link {
    cursor: pointer;
    color: #6D9BF1;
}

/* visited link */
body a:visited {
  color: #6D9BF1;
}

/* mouse over link */
body a:hover {
  color: #6D9BF1;
}

/* selected link */
body a:active {
  color: #6D9BF1;
}

body .crossreference {
    cursor: pointer;
    color: #6D9BF1;
    font-weight: 700;
}

/* Main Page */
.container--1mazc {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 auto;
    background-color: #111;
    font-size: 14px;
}

.desc {
    text-align: left;
    color: #ccc;
    font-size: 16px;
    line-height: 1.5;
}

/* Footer */
.footer__info--3VNMU {
    height: auto;
    color: #ccc;
    background-color: #222;
}

.footer__info--3VNMU a, .footer__link--1RSEJ a {
    padding: 5px 0;
    color: #ccc;
}

.alphabet--3sMXd {
    width: 100%;
    background-color: #222;
    border-bottom: #111;
}

.alphabet__node--huwT8 {
    border: 1px solid transparent;
    color: #ccc;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
}


.extensionHint--GXbB8 {
    height: 64px;
    margin-top: -64px;
    -webkit-transition: all .5s;
    transition: all .5s;
    text-align: center;
    background-color: #222;
    font-size: 16px;
    line-height: 64px;
}

body {
    font-family: Helvetica Neue For Number,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 12px;
    line-height: 1.5;
    color: #ccc;
}

.ant-pagination-item a {
    text-decoration: none;
    color: #ccc;
    transition: none;
    margin: 0 6px;
}

.ant-pagination-next a, .ant-pagination-prev a {
    color: #ccc;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body .h3_title {
    color: #ccc;
    font-size: 16px;
    font-weight: 700;
}


.word__name--TTbAA {
    margin: 0 0 5px;
    color: #ccc;
    font-size: 28px;
    font-weight: 700;
    word-break: break-word;
}

.word__defination--2q7ZH, .word_summary--1nri6 {
    color: #ccc;
    font-size: 16px;
}

.socialShare__title--34iP2 {
    text-align: left;
    color: #ccc;
    font-family: Georgia;
    font-size: 16px;
    font-weight: 700;
}

.alphabetical__word--3UeP2 {
    font-size: 16px;
    text-align: left;
    color: #6D9BF1;
    margin: 5px 5px 5px 0;
    word-break: break-word;
}

.related__word--3Si0N {
    margin: 5px 10px 5px 0;
    padding: 4px 7px;
    text-align: center;
    color: #fff;
    border-radius: 2px;
    background-color: #6D9BF1;
    font-size: 16px;
}

.word_4pc--2SZw8 {
    cursor: text;
    border: 1px solid #222;
    padding: 20px;
    background: #222;
}

.footer__info--3VNMU p, .footer__link--1RSEJ p {
    padding: 5px 0;
    color: #ccc;
}

h1, h2, h3, h4, h5, h6 {
    color: #ccc;
    font-weight: 500;
}

blockquote {
    margin: 1em 0;
        margin-top: 1em;
    padding-left: 10px;
    border-left: 6px solid #111;
}